@import "tailwindcss";

Oswald / Iosevka Charon Mono / Rubik / Syne

*{
    font-family: 'Rubik', Courier, monospace;
}

::-webkit-scrollbar {
  width: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #3A3A3A;
  border-radius: 12px;
}
::-webkit-scrollbar{
    background-color: transparent;
    padding-top: 3px;
    padding-bottom: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #181818;
}

@theme {
    --color-primary: #F2F2F2;
    --color-secondary: #E0E0E0;
    --color-sidebar-background: #3A3A3A;
    --color-input-field-background: #E0E0E0;
    --color-card-background: rgba(58, 58, 58, 1);
    --color-chat-background: #F2F2F2;
    --color-border-color: #3A3A3A;

    --color-button-background: #E8432D;
    --color-button-hover-background: #E31D02;

    --color-green: #4CAF50;

    --color-primary-text: #1A1A1A;
    --color-secondary-text: #9E9E9E;
    --color-dark-body-text: #4A4A4A;

    --font-text-landing-title: 'Syne', sans-serif;
    --font-text-rubik : 'Rubik', monospace;
    --font-text-card: 'Oswald', 'Rubik', sans-serif;
    --font-text-description: 'Archivo Black', 'Rubik', sans-serif;

    --color-bg: #280905;
    --color-bg2: #740A03;
    --color-shadow: rgba(169, 167, 167, 0.4);
}

.dark{
    --color-primary: #091413;
    --color-secondary: #050e0d;
    --color-sidebar-background: #B0E4CC;
    --color-input-field-background: #091413;
    --color-card-background: #3C3D37;
    --color-chat-background: #408A71;
    --color-border-color: #ffffff;

    --color-button-background: #E8432D;
    --color-button-hover-background: #E31D02;

    --color-green: #25c02a;

    --color-primary-text: #EBD5AB;
    --color-secondary-text: rgb(117, 114, 114);
    --color-dark-body-text: #d2bcbc;

    --font-text-landing-title: 'Syne', sans-serif;
    --font-text-rubik : 'Rubik', monospace;
    --font-text-card: 'Oswald', 'Rubik', sans-serif;
    --font-text-description: 'Archivo Black', 'Rubik', sans-serif;

    --color-bg: black;
    --color-bg2: #190200;

    --color-shadow: black;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transoform: rotate(360deg)
    }
}